/*base style */
body {
    margin: 0;
    font-family: Arial;
		background-color: #fafafa;
}
.label {
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
	position: fixed;
	top: 0;
	border-bottom: 1px solid #eeeeee;

-webkit-box-shadow: -3px 5px 5px 4px rgba(251,251,251,1);
-moz-box-shadow: -3px 5px 5px 4px rgba(251,251,251,1);
box-shadow: -3px 5px 5px 4px rgba(251,251,251,1);
}
.logo-img {
    width: 60%;
	float: left;
}
.admin-info {
	float: right;
	width: 20%;
	line-height: 3;
	font-size: 100%;
}
.admin-icon .fa {
	font-size: 20px;
	color: #9A9A9A;	
}
.logo-img img {
	height: 40px;
}
#admin-name {
	float: left;
	width: 60%;
	text-align: right;
    padding-right: 10px;
}
ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #2C3C55;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #8693A8;
    padding: 8px 16px;
    text-decoration: none;
}
 
ul.sidenav li a.active {
	background-color: #1F293A;
	color: white;
}

ul.sidenav li a:hover:not(.active) {
	background-color: #1F293A;
	color: white;
}
ul.sidenav li a .fa {
	padding-right: 10px;
}
div.content {
    margin-left: 20%;
    padding: 1px 16px;
	margin-top: 40px;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
	.admin-info {
		width: 40%;
	}
	.label {
		position: relative;
	}
}
@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
			.label {
		position: relative;
		  height: 20px;
	}
	.logo-img img {
		height: 20px;
	}
	.admin-info {
		width: 40%;
		line-height: 2;
		font-size: 10px;
	}


}


table {
  border-collapse: separate;
  border-spacing: 0;
  border-left: 0px;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
	width: 100%;
}
th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}
thead {
	margin: auto;
	width: 100%;
	background-color: #fafafa;
	color: black;
	border-bottom: 1px solid #333333;
	text-align: left;
}
th {
  font-weight: bold;
  border-bottom: 1px solid #787878;
}
th:first-child {
  text-align: left;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
}
td:first-child {

}
.book-title {
  color: #395870;
  display: block;
}
.item-stock,
.item-qty {
  text-align: center;
}
.item-price {
  text-align: right;
}
.item-multiple {
  display: block;
}
tfoot {
  text-align: right;
}
tfoot tr:last-child {
  background: #f0f0f2;
}
div.btn {
	text-decoration: none;
	padding: 4px 6px 4px 6px;
	background-color: #384C6B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}
a.btn .fa {
	padding-right: 2px;
}
div.btn:hover {
	background-color: #2C3C55;
}
input {
	padding: 5px;
}
.edit-input {
	padding: 0px;
	width: 20px;
	padding: 1px 2px 1px 2px;
	margin-right: 5px;
	background-color: inherit;
	box-shadow: none;
	border: none;
}
/*advertisment style */
.edit-btn {
	cursor: pointer;
}
.delete-span {
	font-family: Arial;
}
.ad-id {
	width: 5px;
}
.date {
	width: 80px;
}
.status {
	width: 5px;
	text-align: center;
}
.edit, .delete {
	width: 100px;
}