body {
     margin: 0px auto;
     padding: 0px;
}
.container {
    width: 100%;
    height: 100%;
    background: white;
}
.logo_container {
    margin-top: 5%;
    text-align: center;
}
.logo-img {
    width: 300px;
}
.main_container {
    margin-left: 28%;
    width: 44%;
    float: left;
    background-image: linear-gradient(-190deg, #FFFFFF 8%, #EEF3F5 100%);
    transition: all 0.1s;
}
.form_container{
    margin: 0;
    width: 100%;
}
.tabs_container {
    position: relative;
    float: left;
    margin-top: 2%;
    width: 100%;
}
.ul > li { 
    position: relative;
    float: left;
    width: 45%;
    list-style: none;
    text-align: center;
}
.ul > li > a  {  
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
    color: lightgray;
    display: block;
    transition: all 0.5s;
}
.ul > .active > a  {  
    color: #00d2ff;
}
.signup, .signup {
    height: auto;
    
}
.info {
    padding-top: 12%;
    text-align: center;
    font-family: Arial;
    color: darkgray;   
}
.info_inputs {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
}

.input_form {
    position: relative;
    float: left;
    width: 90%;
    border: none;
    border-bottom: 1px solid lightgray;
    background-color: transparent;
    font-size: 14px;
    outline: none;
    transition: all 0.7s;
    margin: 5% 5% ;  
    padding: 10px 0px;
    opacity: 1;
    height: 5px;
    display: block;
    color: #00d2ff;
}
.input_form:focus {
    border-bottom: 1px solid #00d2ff;
    color: gray;
}
.link_forgot_pass {
    color: darkgray;
    text-align: center;
    text-decoration: none;
    font-family: Arial;
    margin-bottom: 2%;
}
.forgot_pass {
    text-align: center;
    font-size: 14px;
}
p {
    text-align: center;
    color: darkgray;
    font-size: 14px;
    font-family: Arial;
}
.btn_container {
    text-align: center;
}
.btn {
    text-align: center;
    background: #00d2ff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    color: #fff;
    font-size: 14px; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .main_container {
        width: 100%;
        margin: 0;
        background: white;
    }
}
